---
layout: default
---
<head>
    <script src="https://stephenrlouie.github.io/SecretSanta/assets/js/secretSanta.js"></script>
</head>
<header>
    <h1 class="page-title">{{ page.title }}</h1> 
</header>
<div class="content">
    {{ content }}

    <p>Admin Name: <input type="text" id="adminName">  Admin Email: <input type="text" id="adminEmail"></p>
    <p>Spending Limit: <input type="text" id="spendingLimit">  Date: <input type="text" id="date"></p>
    <div id=form>
    </div>
    <p><input type="button" id="addGroup" onclick="addGroup()" label="button1" value="button2"></p>
    <p><input type="submit" id="submitData" onclick="submitData()"></p>
</div>